{% extends 'base.html' %}

{% block content %}
    <div class="row text-center">
        <div class="col-md-5 mb-5 mt-4 pt-2 pb-2 text-justify">
            Projeto desenvolvido finalizado em 10/12/2021, por Ernesto Terra dos Santos.
            Caso você esteja utilizando o projeto por sua url: , 5 minutos após o termino
            da sua utilização o site irá apagar os dados, pois esse projeto é mera mente
            ilustrativo, apenas para colocar à prova meus conhecimentos em Django e python
            melhorando minhas habilidades no back-end, assim servindo ao seu principal propósito.
            No back-end, utilizei como citado o Django, criei os models e views por conta,
            melhorando muito desde o último projeto que realizei sozinho para uma produção
            de faculdade
            <br> Aprimorando também minhas habilidades com o front-end, mas sem ser o foco principal
            no momento. Para o front-end utilizei o bootstrap para facilitar o ajuste dos
            itens e colorações.
            <br> Pelo fato do projeto ser mais focado na questão das notas, optei por deixar
            indisponível inicialmente a adição de imagens nas tarefas, mas futuramente pretendo
            implementar essa adição que trará uma grande diferença para meu projeto pessoal
        </div>
        <div class="col-md-7 mb-4 mt-4 pt-2 text-justify">
            Você tem problemas com organização?<br>
            Com o Pin Note, você irá conseguir mudar isso, o projeto inspirado no to do
            da microsoft, servindo como uma lista de afazeres, auxiliando em uma melhor produtividade.
        </div>
    </div>
{% endblock %}