{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5 pb-5">
    <div class="row pt-1">
        <div class="col-md">
            <h4 class="mt-4 pt-3">Intuito do projeto:</h4>
            <p class="text-justify pb-5">
                O intuito deste projeto é fazer algo parecido com o To Do da microsoft, para que os usuários criem, atualizem e
                deletem, podendo auxiliar no cotidiano a facilitar seus afazeres.
            </p>
            <br>
            <h4 class="mt-4">Como utilizar:</h4>
            <p class="text-justify mb-5 pb-5">
                Para criar notas/tarefas inicialmente é necessário criar uma conta, fazer login e entrar na áera de notas,
                onde será possível visualizar todas as suas notas criadas, podendo atualizá-las e excluí-las. <br>
            </p>
        </div>
    </div>
</div>
{% endblock %}