{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<form action="{% url 'profile:update' %}" method="post">
    <div class="col-lg mt-3">
        <form method="post" action="">
            {% csrf_token %}
            {{ userForm|crispy }}
            {{ profileForm|crispy }}
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-brown btn-block text-light btn-lg mt-3">Atualizar</button>
                </div>
            </div>
        </form>
    </div>
</form>
{% endblock %}